node_modules/
backend/node_modules/
frontend/node_modules/
.env
dist/
build/
.DS_Store
uploads
dist
build
frontend/.env
backend/.env
frontend/dist/
frontend/build/
backend/dist/
backend/build/
# dependencies
node_modules/

# environment variables
.env

# uploads / user files
uploads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
